@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    height: 100vh;
    background-color: var(--grey);
}

header{
    width: 100%;
    height: 30vh;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px var(--yellow);
}

.header-content{
    width: 30%;
    margin: auto;
    padding: var(--small-padding);
    background-color: var(--grey);
    border-radius: var(--mid-border);
    color: white;
}

.money-square{
    display: block;
    font-size: var(--titles);
    text-align: center;
}

#quantity{
    color: var(--yellow);
    text-shadow: 0px 1px 5px var(--white-shadow);
}

.money-in-out{
    width: 100%;
    background-color: var(--grey);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: var(--small-text);
}

.green-text{
    color: greenyellow;
}
 
.red-text{
    color: #f86969;
}

#incomes, #expenses{
    text-shadow: 0px 1px 2px var(--white-shadow);
}

.btn-selector{
    background-color: var(--black);
    color: var(--yellow);
    font-size: var(--small-text);
    border-radius: var(--mid-border);
    margin-top: 10px;
    margin-left: 10px;
    padding: var(--super-small-padding);
}

/*search bar*/

.bar-content{
    width: 100%;
    background-color: var(--cream);
}

.bar{
    width: 50%;
    margin: auto;
    padding: var(--small-padding);
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.text-input{
    padding: var(--small-padding);
    border-radius: var(--mid-border);
    
}

.save-button{
    background-image: url('../icons/icon_check.png');
    background-size: cover;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #29a033;
}

/* Main part*/

main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

table{
    border: 2px solid white;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    text-align: center;
}

th{
    padding: var(--normal-padding);
    color: var(--cream);
    font-weight: 600;
    background-color: var(--black);

    border: 2px solid white;
    border-right: none;
    border-left: none;
}

td{
    color: white;
    padding: var(--small-padding);
}

.delete-button{
    background-image: url('../icons/icon_delete.png');
    background-size: cover;
    width: 3em;
    height: 3em;
    background-color: var(--grey);
    border: none;
}

.edit-button{
    background-image: url('../icons/icon_edit.png');
    background-size: cover;
    width: 3em;
    height: 3em;
    background-color: var(--grey);
    border: none;
}

.delete-button:hover, .edit-button:hover, .save-button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 6px black;
}